# Database
DATABASE_URL="postgresql://user:password@localhost:5432/bagiduit"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Midtrans
MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_SERVER_KEY="SB-Mid-server-XXXX"
MIDTRANS_CLIENT_KEY="SB-Mid-client-XXXX"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
